<!DOCTYPE html>

<html>
<head>
    <title>Hiking the Appalachian</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
	<link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
</head>
<body>

	<div class="ui inverted segment">
	  <div class="ui inverted secondary menu">
		<a class="active item">
		  Join Us
		</a>
		<a class="item">
		  Where We've Been
		</a>
		<a class="item">
		  Where We're Going
		</a>
	  </div>
	</div>

    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/tether.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
