body {
	background: url("/images/index-background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
	#logo {
	max-width: 50px;
	margin-top: -8px;
}
